label {
    margin-left: 5px;
}

.container {
	display: inline-flex;
	width: 100%;
	-webkit-flex-direction: row;
    flex-direction: row-reverse;
    flex-flow: row wrap;
}

.item {
	margin: 10px;
	text-align: center;
}